

body {
  background-color: coral;
  overflow-x: hidden;
}

.container{
  position: relative;
  width: 100%;
  display: flex;
}

.nav {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 50vw;
  height: 100px;
}

.showPDF {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

}

.buttonsPDF {
  display: flex;
}

.documentPDF {
  height: 600px;
  overflow-y: scroll;
}

.closeButton {
  position: absolute;
  background-color:cornflowerblue;
  z-index: 999;
  left: 1420px;
  top: 100px;
}


.geralt {
  width: 200px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
